<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="patient-style.css">
</head>
<body>
    <header>
        <div class="header-main">
            <div class="header-text">
                <h1>Good Morning, Alexander!</h1>
                <p>Hope you are feeling better today!</p>
            </div>
            <div class="appointment">
                <button id="appointment-button"><img src="assets/calendar.png" alt=""></button>
                <div class="appointment-text">
                    <p>Upcoming Appointment:</p>
                    <p>16/10/2024 - CheckUp</p>
                </div>
            </div>
        </div>
    </header>

    <div class="main">
        <div class="main-left">
            <div class="container-left container">
                <h3>Transcription Write-up</h3>
                <hr>
                <div class="transcript-text">
                    <h4>MEDICAL TERMINOLOGY</h4>
                    <p>The patient presents with Type 2 Diabetes Mellitus, exhibiting chronic hyperglycemia (A1c 9.2%), microalbuminuria, and peripheral neuropathy. The treatment plan includes dual oral agents (DPP-4 inhibitor like Sitagliptin and SGLT2 inhibitor like Empagliflozin), a basal-bolus insulin regimen (Insulin Glargine and Insulin Lispro), and a GLP-1 receptor agonist (Liraglutide) for improved glycemic control and cardioprotection. An ACE inhibitor (Lisinopril) is prescribed to mitigate early diabetic nephropathy, while a Continuous Glucose Monitoring (CGM) device will be used for real-time glucose tracking to reduce the risk of hypoglycemia and postprandial spikes. Close follow-up is essential for therapy adjustment and monitoring for adverse effects.</p>
                </div>
            </div>
        </div>

        <div class="main-right">
            <div class="container-top container">
                <h3>Prescribed Medication</h3>
                <hr>
                <div class="prescriptions">
                    <div class="single-prescription">
                        <span class="prescription-dosage">50mg</span>
                        <span class="prescription-name">Liraglutide (2x a week)</span>
                    </div>
                </div>
                <button id="prescription-button"><img src="assets/calendar.png" alt=""></button>
            </div>
            <div class="container-bottom container">
                <h3>Treatment Steps</h3>
                <hr>
                <ol>
                    <li>They need to do this first and foremost.</li>
                    <li>Then they need to continue doing this.</li>
                    <li>And in the end they should do this one as well.</li>
                </ol>
            </div>
        </div>

    </div>

</body>
</html>